
			  <footer class="main-footer">
					<div class="pull-right hidden-xs">
					  <b>onTrack</b> 1.14
					</div>
					&nbsp;
			  </footer>

			  <div class="modal fade" id="myModal">
				  <form role="form" method="post" enctype="multipart/form-data">
					  <div class="modal-dialog">
						  <div class="modal-content">


						  </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
				  </form><!-- /.form -->
			  </div><!-- /.modal -->

		</div><!-- ./wrapper -->

		<!-- jQuery UI 1.11.4 -->
		<script src="template/assets/plugins/jQueryUI/jquery-ui.min.js"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		<script>
		  $.widget.bridge('uibutton', $.ui.button);
		</script>
		<!-- Bootstrap 3.3.7 -->
		<script src="template/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<!-- PACE -->
		<script src="template/assets/plugins/pace/pace.min.js"></script>
		<!-- Select2 -->
	    <script src="template/assets/plugins/select2/select2.full.min.js"></script>

		<!-- DataTables -->
    	<script src="template/assets/plugins/datatables/datatables.min.js"></script>

		<!-- datepicker -->
		<script src="template/assets/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
		<!-- timepicker -->
		<script src="template/assets/plugins/timepicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
		<!-- Bootstrap slider -->
		<script src="template/assets/plugins/bootstrap-slider/bootstrap-slider.min.js"></script>
		<!-- Summernote WYSIHTML5 -->
		<script src="template/assets/plugins/summernote/summernote.min.js" type="text/javascript"></script>
		<!-- bootstrap color picker -->
		<script src="template/assets/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
		<!-- Slimscroll -->
		<script src="template/assets/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>

		<!-- jQuery Knob -->
		<script src="template/assets/plugins/knob/jquery.knob.min.js"></script>
		<!-- FastClick -->
		<script src='template/assets/plugins/fastclick/fastclick.min.js'></script>

		<!-- peity -->
		<script src='template/assets/plugins/peity/jquery.peity.min.js'></script>
		<!-- Clipboard -->
		<script src='template/assets/plugins/clipboard/clipboard.min.js'></script>
		<!-- AdminLTE App -->
		<script src="template/assets/dist/js/app.min.js" type="text/javascript"></script>


		<script src="template/assets/app.js" type="text/javascript"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				// DATATABLES
				$("#dataTablesFull, #dataTablesFull2, #dataTablesFull3, #dataTablesFull4").dataTable( {
					"pageLength": <?php echo getConfigValue("table_records"); ?>,
					"dom": '<"top"f>rt<"bottom"><"row dt-margin"<"col-md-6"i><"col-md-6"p><"col-md-12"B>><"clear">',
					"buttons":  [ 'copy', 'csv', 'excel', 'pdf', 'print' ],
					"stateSave": true,
					"fixedHeader": true,
					"oLanguage": {
						"sSearch": "<i class='fa fa-search text-gray dTsearch'></i>",
						"sEmptyTable": "<?php _e('No entries to show'); ?>",
						"sZeroRecords": "<?php _e('Nothing found'); ?>",
						"sInfo": "<?php _e('Showing'); ?> _START_ <?php _e('to'); ?> _END_ <?php _e('of'); ?> _TOTAL_ <?php _e('entries'); ?>",
						"sInfoEmpty": "",
						"oPaginate": {
							"sNext": "<?php _e('Next'); ?>",
							"sPrevious": "<?php _e('Previous'); ?>",
							"sFirst": "<?php _e('First Page'); ?>",
							"sLast": "<?php _e('Last Page'); ?>"
						}
					},
					"columnDefs": [ { "orderable": false, "targets": -1 } ] }
				);
				$("#dataTablesFullNoOrder, #dataTablesFullNoOrder2").dataTable( {
					"order": [],
					"pageLength": <?php echo getConfigValue("table_records"); ?>,
					"dom": '<"top"f>rt<"bottom"><"row dt-margin"<"col-md-6"i><"col-md-6"p><"col-md-12"B>><"clear">',
					"buttons":  [ 'copy', 'csv', 'excel', 'pdf', 'print' ],
					"stateSave": true,
					"fixedHeader": true,
					"oLanguage": {
						"sSearch": "<i class='fa fa-search text-gray dTsearch'></i>",
						"sEmptyTable": "<?php _e('No entries to show'); ?>",
						"sZeroRecords": "<?php _e('Nothing found'); ?>",
						"sInfo": "<?php _e('Showing'); ?> _START_ <?php _e('to'); ?> _END_ <?php _e('of'); ?> _TOTAL_ <?php _e('entries'); ?>",
						"sInfoEmpty": "",
						"oPaginate": {
							"sNext": "<?php _e('Next'); ?>",
							"sPrevious": "<?php _e('Previous'); ?>",
							"sFirst": "<?php _e('First Page'); ?>",
							"sLast": "<?php _e('Last Page'); ?>"
						}
					},
					"columnDefs": [ { "orderable": false, "targets": -1 } ] }
				);
				$("#dataTablesFullDesc, #dataTablesFullDesc2").dataTable( {
					"order": [[ 0, "desc" ]],
					"pageLength": <?php echo getConfigValue("table_records"); ?>,
					"dom": '<"top"f>rt<"bottom"><"row dt-margin"<"col-md-6"i><"col-md-6"p><"col-md-12"B>><"clear">',
					"buttons":  [ 'copy', 'csv', 'excel', 'pdf', 'print' ],
					"stateSave": true,
					"fixedHeader": true,
					"oLanguage": {
						"sSearch": "<i class='fa fa-search text-gray dTsearch'></i>",
						"sEmptyTable": "<?php _e('No entries to show'); ?>",
						"sZeroRecords": "<?php _e('Nothing found'); ?>",
						"sInfo": "<?php _e('Showing'); ?> _START_ <?php _e('to'); ?> _END_ <?php _e('of'); ?> _TOTAL_ <?php _e('entries'); ?>",
						"sInfoEmpty": "",
						"oPaginate": {
							"sNext": "<?php _e('Next'); ?>",
							"sPrevious": "<?php _e('Previous'); ?>",
							"sFirst": "<?php _e('First Page'); ?>",
							"sLast": "<?php _e('Last Page'); ?>"
						}
					},
					"columnDefs": [ { "orderable": false, "targets": -1 } ] }
				);



				$('#purchase_date, #startDate, #endDate, #date, #pat_tested, #removal_date').datepicker({
					format: '<?php echo jsFormat(); ?>',
					clearBtn: 'true',
					weekStart: '<?php echo getConfigValue("week_start"); ?>',
					autoclose: true
				});

				$(".donut").peity("donut");

				<?php
		            if($route == "dashboard" or $route == "tickets/ar" or $route == "tickets/active" or $route == "tickets/all" or $route == "monitoring") {
		                if($liu['autorefresh'] != 0) echo "startAutorefresh(".$liu['autorefresh'].");";
					}
				?>

			});
		</script>
    </body>
</html>
