<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
	<!-- Content Header (Page header) -->
	<section class="content-header">
			<h1 class="pull-left"><?php _e('Assets'); ?><small> <?php _e('Detailed List'); ?></small></h1>
			<ol class="breadcrumb"><li><a href="?route=dashboard"><i class="fa fa-dashboard"></i> <?php _e('Home'); ?></a></li><li href="?route=reports"><?php _e('Reports'); ?></li><li class="active"><?php _e('Assets (Detailed List)'); ?></li></ol>
			<div style="clear:both"></div>
	</section>
	<!-- Main content -->
	<section class="content">
		<?php if(!empty($statusmessage)): ?>
				<div class="row"><div class='col-md-12'><div class="alert alert-<?php print $statusmessage["type"]; ?> alert-auto" role="alert"><?php print __($statusmessage["message"]); ?></div></div></div>
		<?php endif; ?>
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
                    <div class="box-body">
						<div class="table-responsive">
	                        <table id="dataTablesFull" class="table table-striped table-hover">
	                            <thead>
	                                <tr>
										<th><?php _e('Tag'); ?></th>
										<th><?php _e('Category'); ?></th>
										<th><?php _e('Name'); ?></th>
										<th><?php _e('Status'); ?></th>
                                        <th><?php _e('Serial'); ?></th>
                                        <th><?php _e('Client'); ?></th>
                                        <th><?php _e('Location'); ?></th>
                                        <th><?php _e('Manufacturer'); ?></th>
                                        <th><?php _e('Model'); ?></th>
                                        <th><?php _e('Supplier'); ?></th>
                                        <th><?php _e('Admin'); ?></th>
                                        <th><?php _e('User'); ?></th>
                                        <th><?php _e('Purchase Date'); ?></th>
                                        <th><?php _e('Warranty'); ?></th>
	                                </tr>
	                            </thead>
	                            <tbody>
									<?php
									foreach ($assets as $asset) { ?>
		                                <tr>
											<td><?php echo $asset['tag']; ?></td>
                                            <td><span class='label' style='background-color:#FFF;color:<?php echo getSingleValue("assetcategories","color",$asset['categoryid']); ?>;border:1px solid <?php echo getSingleValue("assetcategories","color",$asset['categoryid']); ?>'><?php echo getSingleValue('assetcategories','name',$asset['categoryid']); ?></span></td>
                                            <td><?php echo $asset['name']; ?></td>
                                            <td><span class='badge' style='background-color:<?php echo getSingleValue("labels","color",$asset['statusid']); ?>'><?php echo getSingleValue("labels","name",$asset['statusid']); ?></span></td>
                                            <td><?php echo $asset['serial']; ?></td>
                                            <td><?php if(in_array("manageClient",$perms)) { ?><a href="?route=clients/manage&id=<?php echo $asset['clientid']; ?>"><?php echo getSingleValue('clients','name',$asset['clientid']); ?></a><?php } else echo getSingleValue('clients','name',$asset['clientid']); ?></td>
                                            <td><?php echo getSingleValue('locations','name',$asset['locationid']); ?></td>
                                            <td><?php echo getSingleValue('manufacturers','name',$asset['manufacturerid']); ?></td>
                                            <td><?php echo getSingleValue('models','name',$asset['modelid']); ?></td>
                                            <td><a href='#' onClick='showM("?modal=suppliers/view&id=<?php echo $asset['supplierid']; ?>");return false'><?php echo getSingleValue('suppliers','name',$asset['supplierid']); ?></a></td>
                                            <td><?php echo getSingleValue('people','name',$asset['adminid']); ?></td>
                                            <td><?php echo getSingleValue('people','name',$asset['userid']); ?></td>
                                            <td><?php echo $asset['purchase_date']; ?></td>
                                            <td><?php echo $asset['warranty_months']; ?></td>
		                                </tr>
									<?php } ?>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /.content -->
</aside><!-- /.right-side -->
