<aside class="right-side">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1><?php echo $asset['tag']; ?></h1>
		<ol class="breadcrumb">
			<li><a href="?route=dashboard"><i class="fa fa-dashboard"></i> <?php _e('Home'); ?></a></li>
			<li><?php _e('Inventory'); ?></li>
			<li><a href="?route=inventory/assets"><?php _e('Assets'); ?></a></li>
			<li class="active"><?php echo $asset['tag']; ?></li></ol>
	</section>
	<!-- Main content -->
	<section class="content">
		<?php if(!empty($statusmessage)): ?>
				<div class="row"><div class='col-md-12'><div class="alert alert-<?php print $statusmessage["type"]; ?> alert-auto" role="alert"><?php print __($statusmessage["message"]); ?></div></div></div>
		<?php endif; ?>
		<div class="row">
		<div class="col-md-12">
          <!-- Custom Tabs (Pulled to the right) -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li <?php if ($section == "") echo 'class="active"'; ?> ><a href="?route=inventory/assets/manage&id=<?php echo $asset['id']; ?>&section="><?php _e('Summary'); ?></a></li>
			  <?php if(in_array("viewIssues",$perms)) { ?><li <?php if ($section == "issues") echo 'class="active"'; ?> ><a href="?route=inventory/assets/manage&id=<?php echo $asset['id']; ?>&section=issues"><?php _e('Issues'); ?></a></li><?php } ?>
			  <?php if(in_array("viewTickets",$perms)) { ?><li <?php if ($section == "tickets") echo 'class="active"'; ?> ><a href="?route=inventory/assets/manage&id=<?php echo $asset['id']; ?>&section=tickets"><?php _e('Tickets'); ?></a></li><?php } ?>
			  <?php if(in_array("viewFiles",$perms)) { ?><li <?php if ($section == "files") echo 'class="active"'; ?> ><a href="?route=inventory/assets/manage&id=<?php echo $asset['id']; ?>&section=files"><?php _e('Files'); ?></a></li><?php } ?>
			  <?php if(in_array("viewTime",$perms)) { ?><li <?php if ($section == "timelog") echo 'class="active"'; ?> ><a href="?route=inventory/assets/manage&id=<?php echo $asset['id']; ?>&section=timelog"><?php _e('Time Log'); ?></a></li><?php } ?>
			  <?php if(in_array("editAsset",$perms)) { ?><li <?php if ($section == "edit") echo 'class="active"'; ?> ><a href="?route=inventory/assets/manage&id=<?php echo $asset['id']; ?>&section=edit"><?php _e('Edit Asset'); ?></a></li><?php } ?>

              <div class="btn-group pull-right" style="padding:6px;">
                    <?php if(in_array("addIssue",$perms)) { ?><a data-toggle='tooltip' title='<?php _e('New Issue'); ?>' class="btn btn-default btn-sm btn-flat" href="#" onClick='showM("?modal=issues/add&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&clientid=<?php echo $asset['clientid']; ?>&assetid=<?php echo $asset['id']; ?>&section=issues");return false'><i class='fa fa-tasks fa-fw'></i> <?php _e('New Issue'); ?></a><?php } ?>
					<?php if(in_array("addTime",$perms)) { ?><a class="btn btn-default btn-sm btn-flat" href="#" onClick='showM("?modal=time/add&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&clientid=<?php echo $asset['clientid']; ?>&assetid=<?php echo $asset['id']; ?>&section=timelog");return false'><i class='fa fa-clock-o fa-fw'></i> <?php _e('Log Time'); ?></a><?php } ?>

					<div class="btn-group">
						<button type="button" class="btn btn-primary btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
							<?php _e('More'); ?> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right">

							<?php if(in_array("addTicket",$perms)) { ?><li><a href="#" onClick='showM("?modal=tickets/add&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&clientid=<?php echo $asset['clientid']; ?>&assetid=<?php echo $asset['id']; ?>&section=tickets");return false'><i class="fa fa-tag fa-fw"></i><?php _e('New Ticket'); ?></a></li><?php } ?>
		                    <?php if(in_array("addCredential",$perms)) { ?><li><a href="#" onClick='showM("?modal=credentials/add&section=&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&assetid=<?php echo $asset['id']; ?>&clientid=<?php echo $asset['clientid']; ?>");return false'><i class="fa fa-asterisk fa-fw"></i><?php _e('New Credential'); ?></a></li><?php } ?>
							<?php if(in_array("uploadFile",$perms)) { ?><li><a href="#" onClick='showM("?modal=files/upload&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&clientid=<?php echo $asset['clientid']; ?>&assetid=<?php echo $asset['id']; ?>&section=files");return false'><i class="fa fa-upload fa-fw"></i><?php _e('Upload File'); ?></a></li><?php } ?>
							<?php if(in_array("licenseAsset",$perms)) { ?><li><a href="#" onClick='showM("?modal=assets/assignLicense&section=&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>");return false'><i class="fa fa-thumb-tack fa-fw"></i><?php _e('Assign License'); ?></a></li><?php } ?>
							<li><a href="?route=pdf&type=assetlabel&id=<?php echo $asset['id']; ?>" target="_blank"><i class="fa fa-barcode fa-fw"></i><?php _e('Label'); ?></a></li>

						</ul>
					</div>

                </div>

            </ul>
            <div class="tab-content">
              <div class="tab-pane <?php if ($section == "") echo 'active'; ?>" id="tab-summary">
				  <div class="row">
		  	  		<div class="col-xs-4">
						<div class="box box-primary">
		                    <div class="box-body">
								<table id="clientTable" class="table table-striped table-hover">
									<tbody>
										<tr>
											<td><b><?php _e('Status'); ?></b></td>
											<td><span class='badge' style='background-color:<?php echo getSingleValue("labels","color",$asset['statusid']); ?>'><?php echo getSingleValue("labels","name",$asset['statusid']); ?></span></td>
										</tr>
										<tr>
											<td><b><?php _e('Tag'); ?></b></td>
											<td><?php echo $asset['tag']; ?></td>
										</tr>
										<tr>
											<td><b><?php _e('Name'); ?></b></td>
											<td><?php echo $asset['name']; ?></td>
										</tr>
										<tr>
											<td><b><?php _e('Category'); ?></b></td>
											<td><span class='label' style='background-color:#FFF;color:<?php echo getSingleValue("assetcategories","color",$asset['categoryid']); ?>;border:1px solid <?php echo getSingleValue("assetcategories","color",$asset['categoryid']); ?>'><?php echo getSingleValue('assetcategories','name',$asset['categoryid']); ?></span></td>
										</tr>
										<tr>
											<td><b><?php _e('Location'); ?></b></td>
											<td><?php echo getSingleValue('locations','name',$asset['locationid']); ?></td>
										</tr>
										<tr>
											<td><b><?php _e('Client'); ?></b></td>
											<td><?php if(in_array("manageClient",$perms)) { ?><a href="?route=clients/manage&id=<?php echo $asset['clientid']; ?>"><?php echo getSingleValue('clients','name',$asset['clientid']); ?></a><?php } else echo getSingleValue('clients','name',$asset['clientid']); ?></td>
										</tr>

										<tr>
											<td><b><?php _e('Manufacturer'); ?></b></td>
											<td><?php echo getSingleValue('manufacturers','name',$asset['manufacturerid']); ?></td>
										</tr>
										<tr>
											<td><b><?php _e('Model'); ?></b></td>
											<td><?php echo getSingleValue('models','name',$asset['modelid']); ?></td>
										</tr>
										<tr>
											<td><b><?php _e('Supplier'); ?></b></td>
											<td><a href='#' onClick='showM("?modal=suppliers/view&id=<?php echo $asset['supplierid']; ?>");return false'><?php echo getSingleValue('suppliers','name',$asset['supplierid']); ?></a></td>
										</tr>
										<tr>
											<td><b><?php _e('Serial Number'); ?></b></td>
											<td><?php echo $asset['serial']; ?></td>
										</tr>
										<tr>
											<td><b><?php _e('Asset Admin'); ?></b></td>
											<td><?php echo getSingleValue('people','name',$asset['adminid']); ?></td>
										</tr>
										<tr>
											<td><b><?php _e('Asset User'); ?></b></td>
											<td>
												<?php if(in_array("editUser",$perms)) { ?>
													<a href="?route=people/users/edit&id=<?php echo $asset['userid']; ?>"><?php echo getSingleValue('people','name',$asset['userid']); ?></a>
												<?php } else echo getSingleValue('people','name',$asset['userid']); ?>
											</td>
										</tr>
										<tr>
											<td><b><?php _e('Purchase Date'); ?></b></td>
											<td><?php echo $asset['purchase_date']; ?></td>
										</tr>

										<tr>
											<td><b><?php _e('Warranty (months)'); ?></b></td>
											<td><?php echo $asset['warranty_months']; ?></td>
										</tr>


										<?php foreach($customfields as $customfield) { ?>
											<tr>
												<td><b><?php echo $customfield['name'] ?></b></td>
												<td><?php echo $customdata[$customfield['id']] ?></td>
											</tr>
										<?php } ?>


									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col-xs-8">
						<div class="box box-primary">
		                    <div class="box-header">
								<h3 class="box-title"><?php _e('Credentials'); ?></h3>
								<div class="pull-right box-tools">
									<button type="button" class="btn btn-default btn-sm btn-flat" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
				                </div>
							</div>
		                    <div class="box-body">
								<div class="table-responsive">
			                        <table class="table table-striped table-hover table-bordered">
			                            <thead>
			                                <tr>
			                                    <th><?php _e('Type'); ?></th>
			                                    <th><?php _e('Username'); ?></th>
												<th><?php _e('Password'); ?></th>
												<th class="text-right"></th>
			                                </tr>
			                            </thead>
			                            <tbody>
											<?php
											foreach ($credentials as $credential) {
			                                echo "<tr>";
			                                    echo "<td>".$credential['type']."</td>";
			                                    echo "<td>".$credential['username']."</td>";
												echo "<td>";
													if(in_array("viewCredential",$perms)) echo "<a href='#' onClick='showM(\"?modal=credentials/view&reroute=inventory/assets/manage&routeid=".$asset['id']."&id=".$credential['id']."&section=\");return false' class='btn-right text-dark'>".__("Click to view")."</a>";
												echo "</td>";
												echo "<td>
														<div class='pull-right btn-group'>";
															if(in_array("viewCredential",$perms)) echo "<a href='#' onClick='showM(\"?modal=credentials/view&reroute=inventory/assets/manage&routeid=".$asset['id']."&id=".$credential['id']."&section=\");return false' class='btn btn-flat btn-primary btn-sm'><i class='fa fa-eye'></i></a>";
															if(in_array("editCredential",$perms)) echo "<a href='#' onClick='showM(\"?modal=credentials/edit&reroute=inventory/assets/manage&routeid=".$asset['id']."&id=".$credential['id']."&section=\");return false' class='btn btn-flat btn-success btn-sm'><i class='fa fa-edit'></i></a>";
															if(in_array("deleteCredential",$perms)) echo "<a href='#' onClick='showM(\"?modal=credentials/delete&reroute=inventory/assets/manage&routeid=".$asset['id']."&id=".$credential['id']."&section=\");return false' class='btn btn-flat btn-danger btn-sm'><i class='fa fa-trash-o'></i></a>";
												 echo "</div>
													  </td>";
			                                echo "</tr>";
											}
											?>
										</tbody>
									</table>
								</div>
								<?php if(empty($credentials)) echo __("There are no credentials to display."); ?>
							</div>
						</div>
						<div class="box box-primary">
		                    <div class="box-header">
								<h3 class="box-title"><?php _e('Assigned Licenses'); ?></h3>
								<div class="pull-right box-tools">
									<button type="button" class="btn btn-default btn-sm btn-flat" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
				                </div>
							</div>
		                    <div class="box-body">
								<div class="table-responsive">
			                        <table class="table table-striped table-hover table-bordered">
			                            <thead>
			                                <tr>
			                                    <th><?php _e('Tag'); ?></th>
												<th><?php _e('Category'); ?></th>
												<th><?php _e('Name'); ?></th>
												<th class="text-right"></th>
			                                </tr>
			                            </thead>
			                            <tbody>
											<?php
											foreach ($assignedlicenses as $assignedlicense) {
												$license = getRowById("licenses",$assignedlicense['licenseid']);
				                                echo "<tr>";

													echo "<td>";
														if(in_array("manageLicense",$perms))
															echo "<a href='?route=inventory/licenses/manage&id=".$license['id']."'>".$license['tag']."</a>";
														else echo $license['tag'];
													echo "</td>";

													echo "<td>".getSingleValue("licensecategories","name",$license['categoryid'])."</td>";

													echo "<td>";
														if(in_array("manageLicense",$perms))
															echo "<a href='?route=inventory/licenses/manage&id=".$license['id']."'>".$license['name']."</a>";
														else echo $license['name'];
													echo "</td>";

													echo "<td><div class='pull-right'>";

														if(in_array("licenseAsset",$perms)) echo "<a href='#' onClick='showM(\"?modal=assets/unassignLicense&section=&reroute=inventory/assets/manage&routeid=".$asset['id']."&id=".$assignedlicense['id']."\");return false' class='btn btn-flat btn-danger btn-sm'><i class='fa fa-trash-o'></i></a>";

													echo "</div></td>";
				                                echo "</tr>";
											}
											?>
										</tbody>
									</table>
								</div>
								<?php if(empty($assignedlicenses)) _e("There are no assigned licenses to display."); ?>
							</div>
						</div>

						<div class="box box-primary">
							<div class="box-header">
								<h3 class="box-title"><?php _e('Notes'); ?></h3>
								<div class="pull-right box-tools">
									<button type="button" class="btn btn-default btn-sm btn-flat" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
								</div>
							</div>
							<div class="box-body">
								<?php echo $asset['notes']; ?>
							</div>
						</div>

					</div>
				</div>
              </div>
              <!-- /.tab-pane -->
			  <?php if(in_array("viewIssues",$perms)) { ?>
			  <div class="tab-pane <?php if ($section == "issues") echo 'active'; ?>" id="tab-issues">
				  <div class="table-responsive">
				        <table id="dataTablesFullDesc" class="table table-striped table-hover table-bordered">
						  <thead>
							  <tr>
								  <th><?php _e('ID'); ?></th>
								  <th><?php _e('Name'); ?></th>
								  <th><?php _e('Assigned To'); ?></th>
								  <th><?php _e('Related Entities'); ?></th>
								  <th><?php _e('Status'); ?></th>
								  <th><?php _e('Due Date'); ?></th>
								  <th class="text-right"></th>
							  </tr>
						  </thead>
						  <tbody>
							  <?php foreach ($issues as $issue) { ?>
								  <tr>
									  <td><?php echo $issue['id']; ?></td>

									  <td>
										  <?php if($issue['priority'] == "High") echo "<i class='fa fa-flag fa-fw text-red' data-toggle='tooltip' title='".__("High priority")."'></i>&nbsp;"; ?>
										  <?php if($issue['priority'] == "Normal") echo "<i class='fa fa-flag fa-fw text-yellow' data-toggle='tooltip' title='".__("Normal priority")."'></i>&nbsp;"; ?>
										  <?php if($issue['priority'] == "Low") echo "<i class='fa fa-flag fa-fw text-blue' data-toggle='tooltip' title='".__("Low priority")."'></i>&nbsp;"; ?>

										  <?php if($issue['issuetype'] == "Task") echo "<i class='fa fa-check-square fa-fw text-blue' data-toggle='tooltip' title='".__("Task")."'></i>&nbsp;"; ?>
										  <?php if($issue['issuetype'] == "Maintenance") echo "<i class='fa fa-minus-square fa-fw text-yellow' data-toggle='tooltip' title='".__("Maintenance")."'></i>&nbsp;"; ?>
										  <?php if($issue['issuetype'] == "Bug") echo "<i class='fa fa-bug fa-fw text-red' data-toggle='tooltip' title='".__("Bug")."'></i>&nbsp;"; ?>
										  <?php if($issue['issuetype'] == "Improvement") echo "<i class='fa fa-external-link fa-fw text-teal' data-toggle='tooltip' title='".__("Improvement")."'></i>&nbsp;"; ?>
										  <?php if($issue['issuetype'] == "New Feature") echo "<i class='fa fa-plus-square fa-fw text-green' data-toggle='tooltip' title='".__("New Feature")."'></i>&nbsp;"; ?>
										  <?php if($issue['issuetype'] == "Story") echo "<i class='fa fa-circle fa-fw text-red' data-toggle='tooltip' title='".__("Story")."'></i>&nbsp;"; ?>

										  <?php if(in_array("editIssue",$perms)) { ?><a href="#" onClick='showM("index.php?modal=issues/edit&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&id=<?php echo $issue['id']; ?>&section=issues");return false'><?php echo $issue['name']; ?></a><?php } else echo $issue['name']; ?>
									  </td>
									  <td>
										  <?php if($issue['adminid'] != 0) { ?>
											  <img src="<?php echo getGravatar(getSingleValue("people","email",$issue['adminid']),"24"); ?>" class="img-circle" style="max-height:24px;"/>
											  <?php echo getSingleValue("people","name",$issue['adminid']); ?>
										  <?php } else  echo "<span class='text-muted'>".__("Nobody")."</span>"; ?>
									  </td>
									  <td>
										  <?php if($issue['clientid'] != 0) { ?>
											  <a href='<?php if(in_array("manageClient",$perms)) { ?>?route=clients/manage&id=<?php echo $issue['clientid']; ?><?php } else echo "#"; ?>'>
												  <span class='label' style="background-color:#FFF;color:#0073b7;border:1px solid #0073b7;"><i class='fa fa-briefcase fa-fw'></i> <?php echo getSingleValue("clients","name",$issue['clientid']); ?></span>
											  </a>&nbsp;
										  <?php } ?>

										  <?php if($issue['assetid'] != 0) { ?>
											  <a href='<?php if(in_array("manageAsset",$perms)) { ?>?route=inventory/assets/manage&id=<?php echo $issue['assetid']; ?><?php } else echo "#"; ?>'>
												  <span class='label' style="background-color:#FFF;color:#001F3F;border:1px solid #001F3F;"><i class='fa fa-desktop fa-fw'></i> <?php echo getSingleValue("assets","tag",$issue['assetid']); ?> </span>
											  </a>&nbsp;
										  <?php } ?>

										  <?php if($issue['projectid'] != 0) { ?>
											  <a href='<?php if(in_array("manageProject",$perms)) { ?>?route=projects/manage&id=<?php echo $issue['projectid']; ?><?php } else echo "#"; ?>'>
												  <span class='label' style="background-color:#FFF;color:#ff851b;border:1px solid #ff851b;"><i class='fa fa-rocket fa-fw'></i> <?php echo getSingleValue("projects","tag",$issue['projectid']); ?> </span>
											  </a>
										  <?php } ?>

									  </td>
									  <td>
										  <?php if($issue['status'] == "To Do") echo "<span class='badge bg-green'>".__("To Do")."</span>"; ?>
										  <?php if($issue['status'] == "In Progress") echo "<span class='badge bg-blue'>".__("In Progress")."</span>"; ?>
										  <?php if($issue['status'] == "In Review") echo "<span class='badge bg-navy'>".__("In Review")."</span>"; ?>
										  <?php if($issue['status'] == "Done") echo "<span class='badge bg-gray'>".__("Done")."</span>"; ?>
										  <?php if($issue['status'] != "Done" && $issue['duedate'] < date('Y-m-d') && $issue['duedate'] != "") echo "<span class='badge bg-red'>".__("Overdue")."</span>"; ?>
									  </td>
									  <td><?php if($issue['duedate'] != "") echo dateDisplay($issue['duedate']); else echo "<span class='text-muted'>".__("None")."</span>" ?></td>
									  <td>
										  <div class='pull-right'>
											  <div class="btn-group">
												   <?php if(in_array("editIssue",$perms)) { ?><a href="#" onClick='showM("index.php?modal=issues/edit&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&id=<?php echo $issue['id']; ?>&section=issues");return false' class='btn btn-flat btn-success btn-sm'><i class='fa fa-edit'></i></a><?php } ?>
	  											   <?php if(in_array("deleteIssue",$perms)) { ?><a href="#" onClick='showM("index.php?modal=issues/delete&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&id=<?php echo $issue['id']; ?>&section=issues");return false' class='btn btn-flat btn-danger btn-sm'><i class='fa fa-trash-o'></i></a><?php } ?>
											  </div>
										  </div>

									  </td>
								  </tr>
							  <?php } ?>
						  </tbody>
					    </table>


				</div>
              </div>
              <!-- /.tab-pane -->
			  <?php } ?>
			  <?php if(in_array("viewTickets",$perms)) { ?>
			  <div class="tab-pane <?php if ($section == "tickets") echo 'active'; ?>" id="tab-tickets">
				  <div class="table-responsive">
				   	<table id="dataTablesFullNoOrder" class="table table-striped table-hover table-bordered">
						<thead>
							<tr>

								<th><?php _e('Ticket #'); ?></th>
								<th><?php _e('Subject'); ?></th>
								<th><?php _e('Submitter'); ?></th>
								<th><?php _e('Assigned To'); ?></th>
								<th><?php _e('Related Entities'); ?></th>
								<th><?php _e('Department'); ?></th>
								<th><?php _e('Status'); ?></th>
								<th><?php _e('Last Reply'); ?></th>
								<th class="text-right"></th>
							</tr>
						</thead>
						<tbody>
							<?php foreach ($tickets as $ticket) { ?>
								<tr>
									<td>
										<?php if($ticket['priority'] == "High") echo "<i class='fa fa-flag fa-fw text-red' data-toggle='tooltip' title='".__("High priority")."'></i>&nbsp;"; ?>
										<?php if($ticket['priority'] == "Normal") echo "<i class='fa fa-flag fa-fw text-yellow' data-toggle='tooltip' title='".__("Normal priority")."'></i>&nbsp;"; ?>
										<?php if($ticket['priority'] == "Low") echo "<i class='fa fa-flag fa-fw text-blue' data-toggle='tooltip' title='".__("Low priority")."'></i>&nbsp;"; ?>

										<?php if(in_array("manageTicket",$perms)) { ?><a href='?route=tickets/manage&id=<?php echo $ticket['id']; ?>'><?php echo $ticket['ticket']; ?></a><?php } else echo $ticket['ticket']; ?>
									</td>
									<td><?php if(in_array("manageTicket",$perms)) { ?><a href='?route=tickets/manage&id=<?php echo $ticket['id']; ?>'><?php echo $ticket['subject']; ?></a><?php } else echo $ticket['subject']; ?></td>
									<td>
										<?php
											if($ticket['userid'] != 0) echo getSingleValue("people","name",$ticket['userid']);
											else echo $ticket['email'];
										?>
									</td>
									<td>
										<?php if($ticket['adminid'] != 0) { ?>
											<img src="<?php echo getGravatar(getSingleValue("people","email",$ticket['adminid']),"24"); ?>" class="img-circle" style="max-height:24px;"/>
											<?php echo getSingleValue("people","name",$ticket['adminid']); ?>
										<?php } else  echo "<span class='text-muted'>".__("Nobody")."</span>"; ?>
									</td>
									<td>
										<?php if($ticket['clientid'] != 0) { ?>
											<a href='<?php if(in_array("manageClient",$perms)) { ?>?route=clients/manage&id=<?php echo $ticket['clientid']; ?><?php } else echo "#"; ?>'>
												<span class='label' style="background-color:#FFF;color:#0073b7;border:1px solid #0073b7;"><i class='fa fa-briefcase fa-fw'></i> <?php echo getSingleValue("clients","name",$ticket['clientid']); ?> </span>
											</a>&nbsp;
										<?php } ?>

										<?php if($ticket['assetid'] != 0) { ?>
											<a href='<?php if(in_array("manageAsset",$perms)) { ?>?route=inventory/assets/manage&id=<?php echo $ticket['assetid']; ?><?php } else echo "#"; ?>'>
												<span class='label' style="background-color:#FFF;color:#001F3F;border:1px solid #001F3F;"><i class='fa fa-desktop fa-fw'></i> <?php echo getSingleValue("assets","tag",$ticket['assetid']); ?> </span>
											</a>
										<?php } ?>

										<?php if($ticket['projectid'] != 0) { ?>
											<a href='<?php if(in_array("manageProject",$perms)) { ?>?route=projects/manage&id=<?php echo $ticket['projectid']; ?><?php } else echo "#"; ?>'>
												<span class='label' style="background-color:#FFF;color:#ff851b;border:1px solid #ff851b;"><i class='fa fa-rocket fa-fw'></i> <?php echo getSingleValue("projects","tag",$ticket['projectid']); ?> </span>
											</a>
										<?php } ?>
									</td>
									<td>
										<?php
											if($ticket['departmentid'] != 0) echo getSingleValue("tickets_departments","name",$ticket['departmentid']);
											elseif($ticket['departmentid'] == 0) echo '<span class="text-muted">' . __('None') . '</span>';
											else echo '<span class="text-muted">' . __('None') . '</span>';
										?>
									</td>
									<td>
										<?php if($ticket['status'] == "Open") echo "<span class='badge bg-green'>".__("Open")."</span>"; ?>
										<?php if($ticket['status'] == "In Progress") echo "<span class='badge bg-navy'>".__("In Progress")."</span>"; ?>
										<?php if($ticket['status'] == "Answered") echo "<span class='badge bg-teal'>".__("Answered")."</span>"; ?>
										<?php if($ticket['status'] == "Reopened") echo "<span class='badge bg-orange'>".__("Reopened")."</span>"; ?>
										<?php if($ticket['status'] == "Closed") echo "<span class='badge bg-gray'>".__("Closed")."</span>"; ?>
									</td>
									<td><span style="display:none"><?php echo Ticket::lastReplyStamp($ticket['id']); ?></span><?php echo Ticket::lastReply($ticket['id']); ?></td>
									<td>
										<div class='pull-right'>

											<div class='btn-group'>
											  <?php if(in_array("manageTicket",$perms)) { ?><a href='?route=tickets/manage&id=<?php echo $ticket['id']; ?>' class='btn btn-flat btn-primary btn-sm'><i class='fa fa-eye'></i></a><?php } ?>
											  <?php if(in_array("editTicket",$perms)) { ?><a href="#" onClick='showM("index.php?modal=tickets/edit&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&id=<?php echo $ticket['id']; ?>&section=tickets");return false' class='btn btn-flat btn-success btn-sm'><i class='fa fa-edit'></i></a><?php } ?>
											  <?php if(in_array("deleteTicket",$perms)) { ?><a href="#" onClick='showM("index.php?modal=tickets/delete&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&id=<?php echo $ticket['id']; ?>&section=tickets");return false' class='btn btn-flat btn-danger btn-sm'><i class='fa fa-trash-o'></i></a><?php } ?>
											</div>
										</div>
									</td>
								</tr>
							<?php } ?>
						</tbody>
					</table>


				</div>
              </div>
              <!-- /.tab-pane -->
			  <?php } ?>
			  <?php if(in_array("viewFiles",$perms)) { ?>
			  <div class="tab-pane <?php if ($section == "files") echo 'active'; ?>" id="tab-files">
				   <?php if(empty($files)) { ?>
					   <div class="alert alert-info">
						  	<i class="icon fa fa-info"></i> <?php _e('No files have been uploaded yet!'); ?>
						</div>
				   <?php } ?>

				   <ul class="todo-list list-inline" id="fileslist">
					   <?php foreach($files as $file) { ?>
						   <li id="" style="width:260px;margin:10px;padding:8px;height:60px;">
								 <div class="row">
									 <div class="col-xs-2" style="text-align:center;vertical-align:middle;height:60px;">
										 <i class="fa fa-<?php echo File::icon($file['file']); ?>" style="font-size:36px;padding-top:3px;"></i>
									 </div>
									 <div class="col-xs-10">
										 <?php echo ttruncat($file['name'],30) . "<br><small>" . ttruncat($file['file'],35) . "</small>"; ?>
										 <div class="pull-right">
											 <?php if(in_array("viewFiles",$perms)) { ?><a href="#" onClick='showM("?modal=files/view&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&id=<?php echo $file['id']; ?>&section=files");return false' class='btn-right text-dark'><i class='fa fa-eye'></i></a>&nbsp;<?php } ?>
											 <?php if(in_array("downloadFile",$perms)) { ?><a href="<?php echo "?qa=download&id=" . $file['id']; ?>" class='btn-right text-dark'><i class='fa fa-download'></i></a>&nbsp;<?php } ?>
											 <?php if(in_array("deleteFile",$perms)) { ?><a href="#" onClick='showM("?modal=files/delete&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&id=<?php echo $file['id']; ?>&section=files");return false' class='btn-right text-red'><i class='fa fa-trash-o'></i></a><?php } ?>
										 </div>
									 </div>
								 </div>
						   </li>
					   <?php } ?>
				   </ul>

              </div>
              <!-- /.tab-pane -->
			  <?php } ?>


			  <?php if(in_array("viewTime",$perms)) { ?>
				<div class="tab-pane <?php if ($section == "timelog") echo 'active'; ?>" id="tab-timelog">
				  <div class="table-responsive">
					  <table id="dataTablesFullDesc" class="table table-striped table-hover table-bordered">
						  <thead>
							  <tr>
								  <th><?php _e('ID'); ?></th>
								  <th><?php _e('Date & Time'); ?></th>
								  <th><?php _e('Duration'); ?></th>
								  <th><?php _e('Staff'); ?></th>
								  <th><?php _e('Asset'); ?></th>
								  <th><?php _e('Project'); ?></th>
								  <th><?php _e('Tagged Items'); ?></th>
								  <th><?php _e('Description'); ?></th>
								  <th class="text-right"></th>
							  </tr>
						  </thead>
						  <tbody>
							  <?php foreach ($timelog as $item) { ?>
								  <?php

									$tag_issues = unserialize($item['issues']);
									$tag_tickets = unserialize($item['tickets']);

									if(empty($tag_issues)) $tag_issues = [];
									if(empty($tag_tickets)) $tag_tickets = [];
								  ?>
								  <tr>
									  <td><?php echo $item['id']; ?></td>
									  <td><?php echo dateDisplay($item['date']); ?> <?php echo $item['start']; ?> <i class='fa fa-long-arrow-right'></i> <?php echo $item['end']; ?></td>
									  <td>
										  <?php echo secondsToTime(duration($item['date'], $item['start'], $item['end'])); ?>
									  </td>
									  <td>
										  <?php if($item['staffid'] != 0) { ?>
											  <img src="<?php echo getGravatar(getSingleValue("people","email",$item['staffid']),"24"); ?>" class="img-circle" style="max-height:24px;"/>
											  <?php echo getSingleValue("people","name",$item['staffid']); ?>
										  <?php } else  echo "<span class='text-muted'>".__("Nobody")."</span>"; ?>
									  </td>

									  <td>
									    <?php if($item['assetid'] != 0) { ?>
												<a href='<?php if(in_array("manageAsset",$perms)) { ?>?route=inventory/assets/manage&id=<?php echo $item['assetid']; ?><?php } else echo "#"; ?>'>
													<span class='label' style="background-color:#FFF;color:#001F3F;border:1px solid #001F3F;"><i class='fa fa-desktop fa-fw'></i> <?php echo getSingleValue("assets","tag",$item['assetid']); ?> </span>
												</a>
									    <?php } ?>
									  </td>

									  <td>
										   <?php if($item['projectid'] != 0) { ?>
													<a href='<?php if(in_array("manageProject",$perms)) { ?>?route=projects/manage&id=<?php echo $item['projectid']; ?><?php } else echo "#"; ?>'>
														<span class='label' style="background-color:#FFF;color:#ff851b;border:1px solid #ff851b;"><i class='fa fa-rocket fa-fw'></i> <?php echo getSingleValue("projects","tag",$item['projectid']); ?> </span>
													</a>
											    <?php } ?>
									  </td>

									  <td>
										  <?php foreach($tag_issues as $tag_issue) { ?>
												<span class='badge bg-teal' ><i class='fa fa-tasks fa-fw'></i> <?php echo getSingleValue("issues", "name", $tag_issue); ?> </span>
										  <?php } ?>
										  <?php foreach($tag_tickets as $tag_ticket) { ?>
											<span class='badge bg-purple' ><i class='fa fa-ticket fa-fw'></i> <?php echo getSingleValue("tickets", "ticket", $tag_ticket); ?> <?php echo getSingleValue("tickets", "subject", $tag_ticket); ?> </span>
										  <?php } ?>
									  </td>

									  <td><?php echo $item['description']; ?></td>
									  <td>
										  <div class='pull-right'>
											  <div class="btn-group">
												  <?php if(in_array("editTime",$perms)) { ?><a href='#' onClick='showM("?modal=time/edit&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&id=<?php echo $item['id']; ?>&section=timelog");return false' class='btn btn-flat btn-success btn-sm'><i class='fa fa-edit'></i></a><?php } ?>
												  <?php if(in_array("deleteTime",$perms)) { ?><a href='#' onClick='showM("?modal=time/delete&reroute=inventory/assets/manage&routeid=<?php echo $asset['id']; ?>&id=<?php echo $item['id']; ?>&section=timelog");return false' class='btn btn-flat btn-danger btn-sm'><i class='fa fa-trash-o'></i></a><?php } ?>
											  </div>
										  </div>
									  </td>
								  </tr>
							  <?php } ?>
						  </tbody>
					  </table>
				  </div>

				</div>
				<!-- /.tab-pane -->
			  <?php } ?>

			  <?php if(in_array("editAsset",$perms)) { ?>
              <div class="tab-pane <?php if ($section == "edit") echo 'active'; ?>" id="tab-edit">
				  <div class="row">
		  			<div class="container-fluid">

				  		<form role="form" method="post">


							<div class="col-md-6">

								<div class="row">

									<div class="col-md-12">
										<?php if($isAdmin) { ?>
											<div class="form-group">
												<label for="clientid"><?php _e('Client'); ?></label>
												<select class="form-control select2 select2-hidden-accessible" id="clientid" name="clientid" style="width: 100%;" tabindex="-1" aria-hidden="true">
													<option value="0"><?php _e('None'); ?></option>
													<?php foreach ($clients as $client) { echo "<option value='".$client['id']."'"; if($asset['clientid']==$client['id']) echo " selected"; echo ">".$client['name']."</option>"; } ?>
												</select>
											</div>
										<?php } ?>
										<?php if(!$isAdmin) { ?><input type="hidden" name="clientid" value="<?php echo $liu['clientid']; ?>"><?php } ?>
									</div>


									<div class="col-md-4">
										<div class="form-group">
											<label for="tag"><?php _e('Asset Tag'); ?> *</label>
											<input type="text" class="form-control" id="tag" name="tag" value="<?php echo $asset['tag']; ?>" required>
										</div>
									</div>

									<div class="col-md-8">
										<div class="form-group">
											<label for="name"><?php _e('Asset Name'); ?></label>
											<input type="text" class="form-control" id="name" name="name" value="<?php echo $asset['name']; ?>">
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label for="category"><?php _e('Category'); ?> *</label>
											<select class="form-control select2tag select2-hidden-accessible" id="category" name="category" style="width: 100%;" tabindex="-1" aria-hidden="true" multiple>
												<?php foreach ($categories as $category) { echo "<option value='".$category['name']."'"; if($asset['categoryid']==$category['id']) echo " selected"; echo ">".$category['name']."</option>"; } ?>
											</select>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label for="supplier"><?php _e('Supplier'); ?></label>
											<select class="form-control select2tag select2-hidden-accessible" id="supplier" name="supplier" style="width: 100%;" tabindex="-1" aria-hidden="true" multiple>
												<?php foreach ($suppliers as $supplier) { echo "<option value='".$supplier['name']."'"; if($asset['supplierid']==$supplier['id']) echo " selected"; echo ">".$supplier['name']."</option>"; } ?>
											</select>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label for="location"><?php _e('Location'); ?></label>
											<select class="form-control select2tag select2-hidden-accessible" id="location" name="location" style="width: 100%;" tabindex="-1" aria-hidden="true" multiple>

												<?php foreach ($locations as $location) { echo "<option value='".$location['name']."'"; if($asset['locationid']==$location['id']) echo " selected"; echo ">".$location['name']."</option>"; } ?>
											</select>
										</div>
									</div>

									<div class="col-md-12"></div>
									
									<div class="col-md-4">
										<div class="form-group">
											<label for="statusid"><?php _e('Status'); ?> *</label>
											<select class="form-control select2 select2-hidden-accessible" id="statusid" name="statusid" style="width: 100%;" tabindex="-1" aria-hidden="true">
												<?php foreach ($labels as $label) { echo "<option value='".$label['id']."'"; if($asset['statusid']==$label['id']) echo " selected"; echo ">".$label['name']."</option>"; } ?>
											</select>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label for="userid"><?php _e('Asset User'); ?></label>
											<select class="form-control select2 select2-hidden-accessible" id="userid" name="userid" style="width: 100%;" tabindex="-1" aria-hidden="true">
												<option value="0"><?php _e('None'); ?></option>
												<?php foreach ($users as $user) { echo "<option value='".$user['id']."'"; if($asset['userid']==$user['id']) echo " selected"; echo ">".$user['name']."</option>"; } ?>
											</select>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label for="adminid"><?php _e('Asset Admin'); ?></label>
											<select class="form-control select2 select2-hidden-accessible" id="adminid" name="adminid" style="width: 100%;" tabindex="-1" aria-hidden="true">
												<option value="0"><?php _e('None'); ?></option>
												<?php foreach ($admins as $admin) { echo "<option value='".$admin['id']."'"; if($asset['adminid']==$admin['id']) echo " selected"; echo ">".$admin['name']."</option>"; } ?>
											</select>
										</div>
									</div>


									<div class="col-md-6">
										<div class="form-group">
											<label for="manufacturer"><?php _e('Manufacturer'); ?></label>
											<select class="form-control select2tag select2-hidden-accessible" id="manufacturer" name="manufacturer" style="width: 100%;" tabindex="-1" aria-hidden="true" multiple>
												<?php foreach ($manufacturers as $manufacturer) { echo "<option value='".$manufacturer['name']."'"; if($asset['manufacturerid']==$manufacturer['id']) echo " selected"; echo ">".$manufacturer['name']."</option>"; } ?>
											</select>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label for="model"><?php _e('Model'); ?></label>
											<select class="form-control select2tag select2-hidden-accessible" id="model" name="model" style="width: 100%;" tabindex="-1" aria-hidden="true" multiple>
												<?php foreach ($models as $model) { echo "<option value='".$model['name']."'"; if($asset['modelid']==$model['id']) echo " selected"; echo ">".$model['name']."</option>"; } ?>
											</select>
										</div>
									</div>

									<div class="col-md-12">
										<?php if(getConfigValue("manual_qrvalue") == "true") { ?>
											<div class="form-group">
												<label for="qrvalue"><?php _e('QR Code Value'); ?></label>
												<input type="text" class="form-control" id="qrvalue" name="qrvalue" value="<?php echo $asset['qrvalue']; ?>">
											</div>
										<?php } else { ?><input type="hidden" name="qrvalue" value="<?php echo $asset['qrvalue']; ?>"><?php } ?>
									</div>

								</div>

							</div>

							<div class="col-md-6">

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="purchase_date"><?php _e('Purchase Date'); ?></label>
											<div class="input-group">
												<input type="text" class="form-control" id="purchase_date" name="purchase_date" value="<?php echo dateDisplay($asset['purchase_date']); ?>">
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label for="warranty_months"><?php _e('Warranty'); ?></label>
											<div class="input-group">
												<input type="number" class="form-control" id="warranty_months" name="warranty_months" value="<?php echo $asset['warranty_months']; ?>">
												<span class="input-group-addon"><?php _e('months'); ?></span>
											</div>
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<label for="serial"><?php _e('Serial Number'); ?></label>
											<input type="text" class="form-control" id="serial" name="serial" value="<?php echo $asset['serial']; ?>">
										</div>
									</div>


									<?php foreach($customfields as $customfield) { ?>
										<div class="col-md-12">
											<div class="form-group">
												<label><?php echo $customfield['name'] ?></label>

												<?php if($customfield['type'] == "Text Box") { ?>
													<input type="text" class="form-control" name="<?php echo $customfield['id'] ?>" value="<?php echo $customdata[$customfield['id']] ?>">
												<?php } ?>

												<?php if($customfield['type'] == "Text Area") { ?>
													<textarea class="form-control" name="<?php echo $customfield['id'] ?>"><?php echo $customdata[$customfield['id']]; ?></textarea>
												<?php } ?>

												<?php if($customfield['type'] == "Dropdown") { $options = explode(",",$customfield['options']); ?>
													<select class="form-control select2 select2-hidden-accessible" name="<?php echo $customfield['id']; ?>" style="width: 100%;" tabindex="-1" aria-hidden="true">
														<?php foreach ($options as $option) { ?>

															<option value='<?php echo $option; ?>' <?php if( $option == $customdata[$customfield['id']] ) echo "selected"; ?> ><?php echo $option; ?></option>

														<?php } ?>
													</select>
												<?php } ?>

												<?php if($customfield['description'] != "") { ?>
													<p class="help-block"><?php echo $customfield['description'] ?></p>
												<?php } ?>
											</div>
										</div>

									<?php } ?>



								</div>


							</div>


							<div class="col-md-12">
								<div class="form-group">
									<label for="notes"><?php _e('Notes'); ?></label>
									<textarea class="form-control summernoteLarge" id="notes" name="notes"><?php echo $asset['notes']; ?></textarea>
								</div>
							</div>

							<div class="col-md-12 text-right">
								<div class="form-group">
									<button type="submit" class="btn btn-success"><i class="fa fa-save fa-fw"></i> <?php _e('Save Changes'); ?></button>
								</div>
							</div>

							<input type="hidden" name="route" value="inventory/assets/manage">
							<input type="hidden" name="routeid" value="<?php echo $asset['id']; ?>">
							<input type="hidden" name="section" value="edit">

							<input type="hidden" name="action" value="editAsset">
							<input type="hidden" name="id" value="<?php echo $asset['id']; ?>">


						</form>
		  			</div>
		  		</div>
              </div>
              <!-- /.tab-pane -->
			  <?php } ?>

            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
		</div>
	</section><!-- /.content -->
</aside><!-- /.right-side -->
